
label.error {   
    position: absolute;
    right: 100px;
    top: -35px;
    border: solid 1px #000;
    background: #fff;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, .7);
    padding: 2px 5px;
       }
       